{% extends 'base.html' %}

{% block title %}
Details
{% endblock %}

{% block body %}
<div class="container py-3">
<h3>Id</h3>
<p>{{product.product_id}}</p><hr>
<h3>Name</h3>
<p>{{product.name}}</p><hr>
<h3>Amount</h3>
<p>{{product.amount}}</p><hr>
<h3>Price</h3>
<p>{{product.price}} $</p><hr>
<h3>Comment</h3>
<p>{{product.comment}}</p><hr>
</div>
 <div class="btn-group">
 <form action="http://127.0.0.1:5000/data/{{product.product_id}}/update" >
     <button type="submit" class="btn btn-sm btn-outline-secondary m-1">Update</button>
 </form>
<form action="http://127.0.0.1:5000/data/{{product.product_id}}/delete" >
    <button type="submit" class="btn btn-sm btn-outline-secondary m-1">Delete</button>
</form>
 </div>
{% endblock %}

