{% extends 'base.html' %}

{% block title %}
Details
{% endblock %}
{% block body%}
        <section class="py-5 text-center container">
            <div class="row py-lg-5">
              <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Let's make your world greener!</h1>
                <p class="lead text-muted">Not everyone has a natural green thumb, but that’s ok because there are plenty of hard-to-kill houseplants that come to the rescue when you want to add some greenery to your home. Don’t be fooled by their delicate appearance, they are more durable than you think; some can even withstand some serious neglect.</p>
                <p>
                  <a href="http://127.0.0.1:5000//data/create" class="btn btn-primary my-2 ">Add new product</a>
                </p>
              </div>
            </div>
        </section>
        <div class="row ">
            {% for product in products %}
              <div class="col-md-3">
                <div class="card mb-3 box-shadow">
<!--                  <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Customer [100%x225]" style="height: 225px; width: 100%; display: block;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22348%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20348%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_17eb6246d87%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A17pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_17eb6246d87%22%3E%3Crect%20width%3D%22348%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22116.7265625%22%20y%3D%22120.3%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">-->
                    <img class="card-img-top" src="{{product.url}}" alt="Product [100%x225]" style="height: 225px; width: 100%; display: block;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22348%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20348%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_17eb6246d87%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A17pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_17eb6246d87%22%3E%3Crect%20width%3D%22348%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22116.7265625%22%20y%3D%22120.3%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">

                    <div class="card-body">
                      <div class="d-flex justify-content-between align-items-center">
                            <p class="card-text">{{product.name}}</p>
                            <small class="text-muted">{{product.price}}$</small>
                      </div>
                      <div class="btn-group">
                          <form action="http://127.0.0.1:5000/data/{{product.product_id}}" >
                                <button type="submit" class="btn btn-sm btn-outline-secondary m-1">Info</button>
                          </form>
                          <form action="http://127.0.0.1:5000/data/{{product.product_id}}/update" >
                                <button type="submit" class="btn btn-sm btn-outline-success m-1">Update</button>
                          </form>
                          <form action="http://127.0.0.1:5000/data/{{product.product_id}}/delete" >
                                <button type="submit" class="btn btn-sm btn-outline-danger m-1">Delete</button>
                          </form>
                      </div>
                     <div class="d-flex justify-content-between align-items-center">
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}

        </div>
{% endblock %}



